
@media (max-width: 1000px){

    header{
        width: 95%;
        margin: auto;
    }

    .menuDesktop{
        display: none;
    }

    .menuMobile{
        display: block;
        width: 200px;
        height: max-content;
    }

    .menuMobile svg{
        position: relative;
        float: right;
        right: 20px;
        cursor: pointer;
    }

    .menuMobile ul{
        width: 200px;
        flex-direction: column;
        background-color: hsl(257, 27%, 26%);
    }

    .menuMobile li{
        margin: auto;
        color: #f7f7f7;
    }
  
    .menuMobile a{
        margin: auto;
        color: #f7f7f7;
        cursor: pointer;
    }

    .menuMobile a:hover{
        color: #a8a8a8;
    }

    .menuMobileCont{
        position: relative;
        top: 25px;
        display: none;
    }

    #ulMobile{
        display: none;
    }

    .login{
        padding-bottom: 10px;
    }

    .login li:first-child{
        border-top: 1px solid hsl(257, 7%, 63%);
    }

    .login li{
        margin-top: 10px;
        padding: 10px 50px ;
    }

    .login li:hover{
        color: #f7f7f7;
    }

    .intro{
        height: max-content;
        background-size: 550px;
        background-position: top;
        padding-bottom: 70px;
    }

    .introCont{
        width: max-content;
        height: max-content;
        margin: auto;
    }

    .introCont div{
        margin-top: 400px;
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }

    .introCont h1{
        font-size: 2rem;
        line-height: 50px;
        text-align: center;
    }

    .introCont p{
        font-size: 1.1rem;
        text-align: center;
    }

    .introCont button{
        margin: auto;
        margin-top: 20px;
    }

    .earchDiv{
        height: 200px;
    }

    .earchDivCont{
        height: max-content;
        grid-template-columns: 1fr;
    }

    .earchContainer{
        width: 90%;
    }

    .earchDivCont button{
        margin-top: 10px;
        margin-left: 0;
    }

    .errorText{
        grid-row: 2;
    }

    .adShortLinksLu{
        width: 90%;
        margin: auto;
    }

    .adStatsCont{
        width: 90%;
    }

    .cardShort{
        overflow: hidden;
        flex-direction: column;
    }

    .cardShort div{
        position: unset;
        flex-direction: column;
        padding-left: 10px;
    }

    .cardShort a{
        margin-bottom: 8px;
    }

    .cardShort span{
        position: unset;
        padding-left: 10px;
        border-bottom: 1px solid rgb(201, 201, 201);
    }

    .boardCard{
        margin: auto;
        height: max-content;
        flex-direction: column;
    }

    .boardCard::before{
        transform:  translateX(-160px) translateY(525px) rotateZ(90deg);
    }

    .cImg{
        margin: auto;
    }

    .card span{
        margin: auto;
    }

    .card p{
        margin: auto;
        text-align: center;
    }

    .boostLinks{
        height: 250px;
        background-size: auto;
    }

    .boostLinksCont{
        height: max-content;
    }

    .boostLinksCont span{
        font-size: 1.5rem;
        margin-bottom: 15px;
    }

    footer{
        height: max-content;
    }

    .footerCont{
        width: min-content;
        height: 700px;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        padding: 30px 0;
    }

    .footerCont img{
        width: 121px;
        margin: auto;
    }

    .footerText{
        width: min-content;
        flex-direction: column;
        margin: auto;
    }

    .footerText span{
        text-align: center;
    }

    .footerText li{
        text-align: center;
    }

    .footerText div{
        height: max-content;
        margin-bottom: 13px;
    }

    .active{
        display: block;
    }
}

@media (max-width: 425px){
    .introCont div{
        max-width: 300px;
    }

    .earchDiv{
        width: 280px;
    }

    .earchDiv input{
        width: 150px;
        margin: auto;
    }

    .earchDiv button{
        width: 183px;
        margin: auto;
        margin-top: 10px;
    }

    .errorText{
        text-align: center;
    }

    .adStatsCont{
        width: 250px;
    }

    .adStatsText{
        height: max-content;
    }

    .adShortLinksLu{
        width: 250px;
    }

    .cardShort div{
        width: unset;
    }

    .boardCard::before{
        transform: translateX(-250px) translateY(525px) rotateZ(90deg);
    }

    .attribution{
        height: max-content;
    }
}