*{
     margin: 0;
     padding: 0;
     font-family: 'Manrope', sans-serif;
     font-family: 'Poppins', sans-serif;
     Font-size: 18px;
}

.container{
    height: max-content;
    margin: auto;
}

header{
    max-width: 1440px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: auto;
}

header div{
    display: flex;
    width: 550px;
    height: min-content;
    justify-content: space-between;
}

header span{
    font-size: 1.6rem;
    font-weight: 700;
}

header ul{
    width: 350px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: auto 0;
}

header li{
    cursor: pointer;
    color: hsl(257, 7%, 63%);
}

header li:hover{
    color: hsl(255, 11%, 22%);
}

.login{
    width: 250px;
    height: max-content;
    justify-content: space-between;
}

.login li{
    text-align: center;
    padding: 10px 30px;
    color: hsl(257, 7%, 63%);
}

.login li:hover{
    background-color:  hsl(180deg 100% 78%);
    border-radius: 50px;
    color: #f7f7f7;
}

.intro{
    height: 500px;
    background-image: url("/images/illustration-working.svg");
    background-repeat: no-repeat;
    background-position: 60vw;
}

.introCont{
    max-width: 1440px;
    height: 500px;
    margin: auto;
    display: flex;
}

.introCont h1{
    font-weight: 700px;
    font-size: 5rem;
    color: hsl(255, 11%, 22%);
    line-height: 100px;
}

.introCont p{
    color: hsl(257, 7%, 63%);
    font-size: 1.3rem;
}

.introCont button{
    border: none;
    background-color:  hsl(180, 66%, 49%);
    color: #f7f7f7;
    border-radius: 50px;
    padding: 10px 30px;
    margin-top: 40px;
    cursor: pointer;
}

.introCont button:hover{
    background-color:  hsl(180deg 100% 78%);
}

.introCont div{
    width: 800px;
    height: max-content;
    margin: auto 0;
}

.earch{
    height: max-content;
    background-color: #fff;
    background-image: conic-gradient(#fff 0deg, #fff 90deg, hsl(230deg 25% 95%) 90deg, hsl(230deg 25% 95%) 180deg, hsl(230deg 25% 95%) 180deg, hsl(230deg 25% 95%) 270deg, #fff 270deg);
}

.earchContainer{
    max-width: 1440px;
    height: max-content;
    margin: auto;
}

.earchDiv{
    height: 150px;
    background-image: url("/images/bg-boost-desktop.svg");
    background-position: center;
    background-color: hsl(257, 27%, 26%);
    border-radius: 10px;
    margin: auto;
    display: flex;
}

.earchDivCont{
    width: 90%;
    height: 90px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.earchDivCont input{
    width: 80%;
    height: min-content;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid transparent;
}

.earchDivCont button{
    height: min-content;
    padding: 15px;
    border-radius: 10px;
    color: #f7f7f7;
    background-color: hsla(180, 66%, 49%);
    border: none;
    margin-left: 10px;
}

.earchDivCont button:hover{
    background-color: hsl(180deg 100% 78%);
    cursor: pointer;
}
.adStats{
    height: max-content;
    background-color: hsl(230deg 25% 95%);
}

.adStatsCont{
    max-width: 1440px;
    height: max-content;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.adStatsText{
    width: 500px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
}

.adStatsCont h2{
    font-weight: 700;
    font-size: 2rem;
    color: hsl(255, 11%, 22%);
    text-align: center;
}

.adStatsCont p{
    color: hsl(0, 0%, 75%);
    text-align: center;
}

.boardCard{
    max-width: 1440px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.boardCard div:nth-child(1){
    position: relative;
    top: 50px;
}

.boardCard div:nth-child(2){
    position: relative;
    top: 100px;
}

.boardCard div:nth-child(3){
    position: relative;
    top: 150px;
}

.card{
    width: 400px;
    height: max-content;
    border-radius: 5px;
    background-color: #f7f7f7;
    padding: 15px ;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.247);
}


.cImg{
    width: 70px;
    height: 70px;
    background-color: hsl(257, 27%, 26%);
    padding: 20px;
    border-radius: 50%;
    display: flex;
    position: relative;
    top: -50px !important;
}

.card img{
    width: 50px;
    margin: auto;
}

.card span{
    font-size: 1.3rem;
    color: hsl(255, 11%, 22%);
}

.card p{
    margin-top: 10px;
    text-align: left;
    padding-bottom: 20px;
}

.boostLinks{
    height: 250px;
    background-image: url(/images/bg-boost-desktop.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110%;
    background-color: hsl(257, 27%, 26%);
    display: flex;
}

.boostLinksCont{
    width: 800px;
    height: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.boostLinksCont span{
    font-weight: 700;
    font-size: 2.3rem;
    color: #f7f7f7;
    text-align: center;
}

.boostLinksCont button{
    font-size: 1.2rem;
    width: max-content;
    border: none;
    background-color: hsl(180, 66%, 49%);
    color: #f7f7f7;
    border-radius: 50px;
    padding: 10px 30px;
    cursor: pointer;
    margin: auto;
}

.boostLinksCont button:hover{
    background-color:  hsla(180, 66%, 49%, 0.596);
}

footer{
    height: 400px;
    background-color: hsl(255, 11%, 22%);
    display: flex;
}

.footerCont{
    max-width: 1440px;
    height: 190px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.footerCont img{
    color: #f7f7f7;
    width: auto;
    height: 33px;
}

.footerText{
    width: 600px;
    display: flex;
    justify-content: space-between;
}

.footerText div{
    height: 190px;
    display: flex;
    flex-direction: column;
}

.footerText span{
    margin-bottom: 15px;
    color: #f7f7f7;
}

.footerText ul{
    list-style: none;
}

.footerText li{
    margin-bottom: 10px;
}

.footerMediaSocial{
    width: 250px;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}

.footerMediaSocial img:hover{
    filter: blur(5px);
    transition: 0.2s ease-in-out;
}

.footerText li{
    color: hsl(257, 7%, 63%);
    cursor: pointer;
}

.footerText li:hover{
    color: hsl(180, 66%, 49%);
}

.footerMediaSocial img:hover{
    cursor: pointer;
}

.adShortLinks{
    max-width: 1440px;
    height: max-content;
    margin: auto;
}

.adShortLinksLu{
    max-width: 1440px;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardShort{
    max-width: 1440px;
    height: min-content;
    padding: 20px 0;
    background-color: #f7f7f7;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.158);
}

.cardShort div{
    width: 400px;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 20px;
}

.cardShort a{
    color: hsl(180, 66%, 49%);
    cursor: pointer;
    margin: auto 0;
}

.cardShort span{
    position: relative;
    left: 20px;
    margin: auto 0;
}

.cardShort button{
    width: 110px;
    padding: 10px;
    border-radius: 10px;
    color: #f7f7f7;
    background-color: hsla(180, 66%, 49%);
    border: none;
    text-align: center;
    cursor: pointer;
}

.cardShort button:hover{
    background-color: hsla(180, 66%, 49%, 0.596);
}
